# prelive or production
QF_ENV=prelive

# QF URL Config
QF_API_BASE_URL=https://apis-prelive.quran.foundation

# QF OAuth2 Config
QF_AUTH_URL=https://prelive-oauth2.quran.foundation
QF_CLIENT_ID=xxxxxxxxxxxxxxxx
QF_CLIENT_SECRET=xxxxxxxxxxxxxxxx

# Server
PORT=3000

# Log
LOG_LEVEL=INFO